{% style %}
  #callout-button-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  #callout-button-{{ section.id }} h2 {
    font-size: 1.75rem;
    margin: 0;
    color: {{ section.settings.text_color }};
  }
  .callout-button-container {
    padding: 2.5rem 0;
    text-wrap: balance;
  }
{% endstyle %}
<div id="callout-button-{{ section.id }}">
  {% if section.settings.link_url != blank %}
    <a href="{{ section.settings.link_url }}">
      <div class="callout-button-container">
        <h2 class="text-center font-avenir-next">{{ section.settings.heading_text }}</h2>
      </div>
    </a>
  {% else %}
    <div class="callout-button-container">
      <h2 class="text-center">{{ section.settings.heading_text }}</h2>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "callout-button",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "default": "Heading",
      "label": "Heading Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "callout-button"
    }
  ]
}
{% endschema %}
